@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@348;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform:rotateX(-25deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}


header{
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111 ;
    animation: transitionIn 2s;
    z-index: 1000;
}
header .logo{
    color:#fff;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;   
    font-family: 'Limelight', cursive;
}

header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    padding: 5px 10px;
    color:#fff;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Limelight', cursive;
    
}
header ul li a.active,
header ul li a:hover{
    background: rgba(255, 255, 255, .3);
    color: #fff;
} 
.toggle{
    display: none;
}

.entry{
    background-image: url('0.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    animation: transitionIn 1s;
    background-repeat: no-repeat;
}
.entry h1{
    animation: transitionIn 2s;
    align-items: center;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 0;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 3px;
    text-align: center;
    font-family: 'Limelight', cursive;

}
.button{
    background-color: transparent;
    border:0px solid rgb(255, 255, 255);
    animation: transitionIn 2s;
    align-items: center;
    text-align: center;
    border:1px solid rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
}

.button a{
    margin-bottom:0%;
    padding-top: 0%;
    padding-left: 50%;
    padding-right: 20%;
    padding-bottom: 0%;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
  }
  .button:hover{
    filter: blur(0.01px);
    border:1px solid rgb(255, 255, 255);
    color: black;
    background-color: aliceblue;
}
.button:hover a{
    color:rgb(19, 19, 19);
}
.entry h2{
    animation: transitionIn 2s;
    margin: 0 0 25px;
    text-align: center;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
    color:white;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    line-height: 1.7;
    font-weight: 300;
}

.container{
    position: relative;
    display: flex;
    overflow-x: hidden;
    margin-top: 4%;
    flex-wrap: wrap;
    justify-content: center;
}
.container .box .icon{
    position: relative;
    width: 80px;
    height:80px;
    color:#fff;  
    display: flex;
    justify-content: center;
    align-items:center;
    margin:0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    transition: 0.7s;
}

/*first*/
.container .box:nth-child(1) .icon{
    box-shadow:0 0 0 0 #e91e63;
    background: #e91e63;
}
.container .box:nth-child(1):hover .icon{
    box-shadow:0 0 0 400px #e91e63;
}
/*second*/
.container .box:nth-child(2) .icon{
    box-shadow:0 0 0 0 hsl(122, 83%, 34%);
    background: hsl(122, 83%, 34%);
}
.container .box:nth-child(2):hover .icon{
    box-shadow:0 0 0 400px hsl(122, 83%, 34%);
}
/*third*/
.container .box:nth-child(3) .icon{
    box-shadow:0 0 0 0 #2196f3;
    background: #2196f3;
}
.container .box:nth-child(3):hover .icon{
    box-shadow:0 0 0 400px #2196f3;
}
/*fourth*/
.container .box:nth-child(4) .icon{
    box-shadow:0 0 0 0 #8020cf;
    background: #8020cf;
}
.container .box:nth-child(4):hover .icon{
    box-shadow:0 0 0 400px #8020cf;
}
/*fifth*/
.container .box:nth-child(5) .icon{
    box-shadow:0 0 0 0 #115892;
    background: #115892;
}
.container .box:nth-child(5):hover .icon{
    box-shadow:0 0 0 400px #115892;
}
/*sixth*/
.container .box:nth-child(6) .icon{
    box-shadow:0 0 0 0 #868f10;
    background: #868f10;
}
.container .box:nth-child(6):hover .icon{
    box-shadow:0 0 0 400px #868f10;
}
.container .box .content p{
    margin:0;
    padding: 0;
    font-family:  'Josefin Sans', sans-serif;
}
.container .box:before{
    content:'';
    width:50%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    overflow-x: hidden;
    pointer-events: none;
    background: rgba(255,255,255,.2);
}

.container .box{
    box-shadow: 7px 7px 10px 9px rgba(0,0,0,0.2);
    align-items: center;
    position: relative;
    width: 200px;
    padding: 20px;
    background: linear-gradient(#aff8cd,hsl(199, 100%, 82%));
    flex-wrap: wrap;
    border-radius:4px;
    margin:5px;
    overflow: hidden;
    box-sizing: border-box;
}
.container .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
    text-align: center;
}
.container .box:hover .content{
    color:#fff;
}
.container .box .content h3{
    font-size: 20px;
    font-family: 'Merienda One', cursive;
    margin:10px 0;
    padding: 0;
}
section{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 125px 100px 100px;
    align-items: center;
    max-height: 100vh;
    font-family: 'Jost', sans-serif;

}
section img{    
    border-radius:10%;
    width: 570px;
    height: auto;
}
section h2{
    font-size: 1.6em;
   
}

section p{
    font-size: 15px;
}

section a{
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    color:#fff;
    margin-top: 17px;
}

.About{
    padding-top:10px;
}
.About div{
    font-size: 150%;
    padding: 70px 40px 40px;
}
.About h1{
    font-size: 170%;
    color: rgb(65, 141, 160);
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 10px;
}
.serv{
    font-size: 280%;
    color: rgb(65, 141, 160);
    font-family: 'Berkshire Swash', cursive;
    padding-top: 4%;
}
.About a{
    color: black;
    padding:0;
    margin:0;
}
.About p{
    font-size: 80%;
    font-family: 'PT Serif', serif;
}

.heading{
    font-size: 300%;
    color: rgb(65, 141, 160);
    text-align: center;
    margin-top : 5%;
    font-family: 'Berkshire Swash', cursive;
}

.port{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.port .card{
    position: relative;
    align-items: center;
    width:300px;
    height: 300px;
    margin:20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.port .card .box{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    transform-style:preserve-3d ;
    transition: 1s ease;
}
.port .card .box .imgbox{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.port .card .box .imgbox img{
   
    max-width: 300px;
    max-height: 300px;
}

.signup{
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding:10px;
}
.button1{
    background-color: transparent;
    border:0px solid rgb(0, 0, 0);
    animation: transitionIn 2s;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border:1px solid rgb(7, 7, 7);
    font-family: 'Josefin Sans', sans-serif;
}

.button1 a{
    margin-bottom:0%;
    padding-top: 0%;
    padding-left: 50%;
    padding-right: 20%;
    padding-bottom: 0%;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 160%;
  }
  .button1:hover{
    filter: blur(0.01px);
    border:1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.button1:hover a{
    color:rgb(255, 255, 255);
}

.end{   
    animation: transitionIn 2s;
}
.fa{
  padding: 8px;
  filter: grayscale(100%);
  font-size: 225%;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}
.fa:hover{
    background-color: white;
    color: rgb(4, 11, 12);
    border-radius: 50%;
}
.fab{
    padding: 8px;
    filter: grayscale(100%);
    font-size: 225%;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
  }
  .fab:hover{
      background-color: white;
      color: rgb(4, 11, 12);
      border-radius: 50%;
  }
  .iconify{
    padding: 0px;
    filter: grayscale(100%);
    font-size: 205%;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
  }
  .iconify:hover{
      background-color: white;
      color: rgb(4, 11, 12);
      border-radius: 20%;
  }

  .footer{
    width:100%;
    background: #00121b;
    display: block;
    padding: 20px;
    justify-content: left;
}
.footer-items{
    width:300px;
    margin-bottom: 4px;
    padding-right: 8px;
}
.footer-items p{
    color:grey;
    font-size: 16px;
    text-align: justify;
    margin-right: 4px;
}
.footer-bottom{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer-items h2{
    padding:10px 0;
    font-size: 20px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.border{
    height:2px;
    width:100%;
    align-content: center;
    justify-content: center;
    background: #ff9800;
}
.footer-items ul{
    list-style: none;
    line-height: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.footer-items ul a{
    text-decoration: none;
    color: #fff;
}
.footer-items p{
    max-width: 500px;
    width:100%;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}
.inner-footer{
    width: 95%;
    margin:0px;
    padding:10px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.social-media{
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 20px;
    text-align: left;

}
.social-media a i{
    color: white;
    font-size: 20px;
    text-align:left;
}

.footer .items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.footer-bottom {
    width:100%;
    color:#fff;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    justify-content: right;
    align-content: center;
}
@media(max-width:1019px){
    header .logo{
        font-size: 18px;
    }
    .serv{
        padding-top: 6%;
    }
}
@media(max-width : 700px)and(min-width:500px){
    .serv{
    padding-top : 8%;
}
}
@media(max-width:500px){
    body{
        width: 100%;
    }
    .serv{
        padding-top: 13%;
    }
    .html{
        width: 100%;
        height: 100%;    
    }
    .entry h1{
        padding-top: 50%;
        font-size: 40px;
    }
    .About{
        padding:5px;
    }
    .About h1{
        font-size: 150%;
    }
    .serv{
        font-size: 280%;
    }
    .About p{
        font-size: 60%;
    }
    .entry h2{
        font-size: 22px;
    }
    .port .card{
        margin-right: 0px;
        margin-left: 0px;
     }
     .heading{
         font-size: 200%;
         margin-top:40%;
     }
}

@media(max-width:992px){
    .entry h1{
        font-size: 200%;
    }
    header .logo{
        font-size: 18px;
    }
    
    section{
        max-height: none;
        padding: 80px 50px 50px;
        flex-direction: column;
    }
   section .div{
       margin-top: 200%;
   }
    section img{
        margin:0px;
        padding:0px;
        max-width: 100%;
    }
    header ul{
        position: absolute;
        top:-100%;
        left:0;
        width:100%;
        height:calc(100vh - 80px);
        padding:50px 100px;
        text-align: center;
        overflow: auto;
        transition: 0.5s;
        background: #111;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-100%);
    }
    header.active ul{
        opacity: 1;
        top:50px;
        transform: translateY(0);
    }
    header ul li a{
        margin: 5px 0;
        font-size: 24px;
    }
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px; 
        cursor: pointer;
    }
    .toggle:before{
        content: '';
        top:4px;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        z-index: 1;
        box-shadow: 0 10px 0 #fff;
        transition: 0.5s;
    }
    .toggle:after{
        content: '';
        bottom:4px;
        width: 100%;
        height: 2px;
        background: #fff;

        position: absolute;
        z-index: 1;
        transition: 0.5s;
    }
    header.active .toggle:before{
        top:14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 #fff;
        border-radius: 5%;
    }
    header.active .toggle:after{
        top:14px;
        transform: rotate(-40deg);
    }
}